body {
    font-family: sans-serif;
    background: linear-gradient(#5D5861, #1E040A);
}



/* sidebar */

.sidebar {
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #000000;
    padding: 14px 30px;
}

#topSettings {
    width: 1.5rem;
    margin: 15px 0;
}

.settings {
    color: #9A9A9A;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 18px;
}

.setting {
    display: flex;
    align-items: center;
    margin: 0 0 12px 0;
}

.settingIcon1 {
    width: 1.5rem;
    padding-right: 30px;
}

.settingIcon2 {
    width: 1.9rem;
    padding-right: 25px;
}

.playlists {
    font-weight: bold;
    line-height: 185%;
    color: #9A9A9A;
    margin-top: 18px;
}

.playlists p {
    font-size: 14px;
    cursor: pointer;
}

.playlists p:hover {
    color: white;
}

#now_playing {
    color: #ffffff;
}



/* top; playlist info */

.main {
    width: 60%;
    height: 17rem;
    padding: 5% 0% 0% 28%;
    margin-bottom: 0;
}

.thunder78 {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 30px;
    border-style: solid;
    border-color: #000000;
    border-radius: 100px;
    background: #000000;
    display: flex;
    align-items: center;
    z-index: 127;
}

.thunder78:hover {
    background: #282828;
    border-color: #282828;
}

.thunder78 p {
    font-size: 15px;
    color: #ffffff;
}

.thunder78 img {
    width: 3rem;
    padding-right: 15px;
}

.titles {
    float: left;
    padding-left: 50px;
    font-size: 15px;
    color: #ffffff;
    margin-top: 90px;
    line-height: 0px;
}

#playlistIcon {
    float: left;
    width: 15rem;
    filter: drop-shadow(0px 0px 50px #000000);
}

#playlistTitle {
    float: left;
    padding-left: 50px;
    line-height: 0px;
    font-size: 45px;
    color: #ffffff;
}

#playlistBio {
    float: left;
    padding-left: 50px;
    color: #9A9A9A;
    margin-top: 0px;
    font-weight: bold;
    line-height: 35px;
}

#profileTitle {
    float: left;
    padding-left: 50px;
    line-height: 0px;
    font-size: 80px;
    color: #ffffff;
}

#profileBio {
    float: left;
    padding-left: 50px;
    color: #9A9A9A;
    margin-top: 0px;
    font-weight: bold;
    line-height: 35px;
}

#cat {
    width: 2rem;
    padding: 0px 10px 0px 0px;
}

.playButtons {
    margin-left: 28%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#greenPlay {
    width: 4rem;
}

#download {
    width: 2.5rem;
    margin-left: 40px;
}

#ellipses {
    width: 2rem;
    margin-left: 40px;
}

#magnifyingGlass {
    width: 1rem;
    margin-left: 625px;
}

#customOrder {
    font-size: 14px;
    font-weight: bold;
    margin-left: 40px;
}

#triangle {
    width: 0.8rem;
    margin-left: 15px;
}



/* playlist items */

.infoCategories {
    margin-left: 28%;
    display: flex;
    align-items: center;
}

#number {
    font-size: 1rem;
    color: #9A9A9A;
    margin-left: 35px;
}

#title {
    font-size: 1rem;
    color: #9A9A9A;
    margin-left: 40px;
}

#album {
    font-size: 1rem;
    color: #9A9A9A;
    margin-left: 320px;
}

#dateAdded {
    font-size: 1rem;
    color: #9A9A9A;
    margin-left: 273px;
}

.divider {
    margin-left: 28%;
    margin-right: 3.5%;
}

.songs {
    margin-left: 28%;
    margin-bottom: 100px;
}

.song {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    font-family: sans-serif;
    margin-right: 60px;
    cursor: pointer;
}

.song:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
}

h1 {
    color: #C4C4C4;
    font-size: 1.2rem;
}

.songIcon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    margin-left: 50px;
}

.songInfo {
    line-height: 1rem;
    position: absolute;
    margin-left: 150px;
}

h2 {
    font-size: 20px;
    color: #ffffff;
    padding: 0;
    margin: 10px 0;
}

#greenBars {
    width: 1.7rem;
    margin-left: -8px;
}

#nowPlayingGreen {
    color: #1DB954;
}

p {
    font-size: 16px;
    color: #9A9A9A;
    padding: 0;
    margin: 10px 0;
}

.album,
.date,
.time {
    color: #9A9A9A;
    font-size: 1rem;
    position: absolute;
}

.album {
    margin-left: 420px;
}

.date {
    margin-left: 750px;
}

.time {
    margin-left: 935px;
}



/* playlist & titles */

#profiles {
    display: flex;
    justify-content: space-between;
    margin-left: 28%;
    margin-right: 3rem;
    margin-bottom: 150px;
}

.profile {
    background-color: #1B1B1B;
    width: 45%;
    border-radius: 1.5rem;
}

.profileHeader {
    display: flex;
    align-items: center;
}

#profileIcon {
    width: 10rem;
    border-radius: 100%;
    padding: 2rem;
    filter: drop-shadow(0px 0px 50px #000000);
}

#profileName {
    font-size: 2rem;
    margin-right: 1rem;
    color: #ffffff;
}

#profileText {
    padding: 0 2rem 1rem 2rem;
    color: #9A9A9A;
    font-size: 1.2rem;
    text-indent: 50px;
    text-justify: auto;
}

.followers {
    color: #ffffff;
    font-size: 2rem;
    margin-left: 28%;
    padding-bottom: 2rem;
}



/* footer; music controls */

.footer {
    background: #1B1B1B;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.footerType {
    color: #ffffff;
    font-weight: bold;
    margin-left: 25px;
    line-height: 5px;
}

.footerType h3 {
    font-size: 17px;
}

.footerType p {
    font-size: 14px;
}

#footerIcon {
    padding: 0 0 0 15px;
    width: 4rem;
    height: 4rem;
    float: left;
}

#heart {
    width: 1.5rem;
    margin-left: 35px;
}

#progressBar {
    width: 30rem;
    margin-left: 175px;
}

#volume {
    width: 15rem;
    margin-left: 225px;
}
